* {
  padding: 0;
  margin: 0;
}
.form-box {
  margin: 20px;
}
label {
  font-size: 25px;
  color: #233;
  font-family: '雅黑';
}
.default {
  border-color: #aaa;
  color: #aaa;
}
.error {
  border-color: red;
  color: red;
}
.pass {
  border-color: green;
  color: green;
}
input {
  width: 300px;
  height: 30px;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
}
button {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border: 2px blue solid;
  color: white;
  background-color: blue;
}
span {
  padding-left: 60px;
}
